.faq-bg-title {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
}
.faq-bg-question {
    background : #EEF7F6
}
.faq-breadcrumb {
    padding: 0px;
    margin: 0;
    list-style: none;
    border-radius: 0;
    li {
        display: inline;
        margin-right: 4px;
        color: #475B20;
        font-weight: bold;
        a {
            color: #475B20;
            text-decoration: none;
            &:hover {
                color: #475B20;
                text-decoration: underline;
            }
        }
        &:last-child {
            font-weight: bold;
            color: #8DB53F;
            pointer-events: none;
            a {
                color: #8DB53F;
                text-decoration: none;
                font-weight: bold;
            }
            span {
                display: none;
            }
        }
    }
}
@media only screen and (max-width: 974px) {
    .faq-title {
        position: relative;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-top: 64px;
        padding-bottom: 84px;
        h1 {
            font-size: 28px;
            font-style: normal;
            font-weight: 800;
            line-height: 32px;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            color: #FFFFFF;
            font-family: 'PoppinsExtraBold';
        }
    }
    .faq-search-input {
        margin-top: 16px;
        width: 100%;
        height: 44px;
        padding: 10px 20px;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        background: #FFFFFF;
        color: #384819;
        display: flex;
        justify-content: center;
        align-items: center;
        #search-input,#search-input:focus{
            border: none;
            outline: none;
            flex-grow: 1;
            color: #384819;
        }
        #search-input::placeholder {
            color: #384819;
        }
        svg {
            margin-left: 10px;
        }
    }
    .autocomplete-list {
        position: absolute;
        left: 0;
        z-index: 1;
        background: #fff;
        width: 100%;
        border-top: 1px solid #ccc;
        text-align: left;
        list-style: none;
        padding: 0;
        margin: 0;
        max-height: 242px;
        overflow-y: auto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        li {
            padding: 10px 20px;
            cursor: pointer;
        }
        li:hover {
            background: #f2f2f2;
        }
    }
    .faq-top {
        display: flex;
        flex-direction: column;
        background-color: #F4F8EC;
        margin-top: 48px;
        #title {
            background-color: #8DB53F;
            width: 110px;
            height: 44px;
            padding: 10px;
            margin-top: -24px;
            position: relative;
            h1 {
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
                color: #fff;
                font-family: 'PoppinsExtraBold';
            }
        }
        #body::after {
            content: '';
            position: absolute;
            top: -20px;
            right: -80px;
            width: 80px;
            height: 105.1%;
            background-color: #F4F8EC; 
        }
        #body::before {
            content: '';
            position: absolute;
            top: -20px;
            left: -80px;
            width: 80px;
            height: 105.1%;
            background-color: #F4F8EC; 
        }
        #body {
            background-color: #F4F8EC;
            position: relative;
            width: 100%;
            padding: 24px 0px 24px 0;
            ul {
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: 8px;
                padding: 0;
                margin: 0;
                li {
                    box-shadow: 0px 4px 16px 0px rgba(133, 133, 133, 0.16);
                    padding: 10px 20px;
                    cursor: pointer;
                    background: #fff;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: 24px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    img {
                        margin-left: 8px;
                    }
                }
            }
        }
    }
    .faq-topic::before {
        content: '';
        position: absolute;
        top: 0;
        left: -80px; 
        width: 80px;
        height: 100%;
        background-color: #F4F8EC; 
    }
    .faq-topic::after {
        content: '';
        position: absolute;
        top: 0;
        right: -80px; 
        width: 80px;
        height: 100%;
        background-color: #F4F8EC; 
    }
    .faq-topic {
        display: flex;
        position: relative;
        flex-direction: column;
        padding: 0px 0px 24px 0px;
        background-color: #F4F8EC;
        margin-top: 24px;
        #title {
            margin-top: -20px;
            h1 {
                width: 225px;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
                padding: 10px;
                background-color: #8DB53F;
                color: #fff;
                font-family: 'PoppinsExtraBold';
                margin: 0;
            }
        }
        #category {
            margin-top: 24px;
            display: flex;
            flex-wrap: wrap;
            div {
                cursor: pointer;
                width: 25%;
                padding: 10px;
                text-align: center;
                img {
                    text-align: center;
                    width: 50px;
                    width: 50px;
                    margin-bottom: 0px;
                }
                h3 {
                    margin: 0;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: 10px;
                    color: #475B20;
                }
                &.active {
                    background-color: #E8F0D9;
                    border-bottom: 6px solid var(--primary-shades-0, #8DB53F);
                }
            }
        }
        #body {
            margin-top: 24px;
            h2 {
                font-size: 16px;
                font-style: normal;
                font-weight: 800;
                line-height: 24px; 
                color: #475B20;
                font-family: 'PoppinsExtraBold';
                margin-bottom: 16px;
            }
            ul {
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: 8px;
                padding: 0;
                margin: 0;
                li {
                    box-shadow: 0px 4px 16px 0px rgba(133, 133, 133, 0.16);
                    padding: 5px 10px;
                    cursor: pointer;
                    background: #fff;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: 24px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    img {
                        margin-left: 8px;
                    }
                }
            }
        }
    }
    .faq-question {
        text-align: center;
        h1 {
            font-size: 20px;
            font-style: normal;
            font-weight: 800;
            line-height: 24px;
            color: #285652;
            font-family: 'PoppinsExtraBold';
            margin-bottom: 16px;
        }
        p {
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 16px;
            text-align: left;
            color: #333;
            margin-bottom: 16px;
        }
        #contact {
            display: flex;
            flex-direction: column;
            gap: 8px;
            a {
                display: flex;
                flex-direction: column;
                width: 100%;
                text-decoration: none;
                color: #fff;
                background-color: #50ABA3;
                padding: 16px;
                text-align: center;
                #title {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 8px;
                    display: flex;
                    img {
                        width: 24px;
                        height: 24px;
                        margin-right: 8px;
                    }
                    h2 {
                        font-family: 'PoppinsExtraBold';
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 800;
                        line-height: 10px;
                        margin: 0;
                    }
                }
                p {
                    color: #fff;
                    font-size: 12px;
                    text-align: center;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 10px;
                    margin-top: 8px;
                    margin-bottom: 0;
                    padding: 0;
                }
            }
        }
    }
    .faq-breadcrumb {
        font-size: 14px;
    }
    .faq-body {
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        #category {
            width: 100%;
            h2 {
                padding: 10px 16px;
                background: var(--secondary-shades-0, #50ABA3);
                font-size: 16px;
                font-style: normal;
                font-weight: 800;
                line-height: 28px;
                font-family: 'PoppinsExtraBold';
                color: #fff;
                margin: 0;
            }
            ol {
                padding: 20px;
                margin: 0;
                list-style: none;
                border-radius: 0;
                font-size: 14px;
                font-weight: 800;
                background: var(--secondary-tint-0, #EEF7F6);
                display: flex;
                flex-direction: column;
                gap: 16px;
                li {
                    color: #50ABA3;
                    font-weight: bold;
                    a {
                        color: #50ABA3;
                        text-decoration: none;
                        &:hover {
                            color: #50ABA3;
                            text-decoration: underline;
                        }
                        &.active {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        #body {
            width: 100%;
            margin-top: 16px;
            h1 {
                color: var(--primary-shades-50, #475B20);
                font-size: 20px;
                font-weight: 800;
                line-height: 24px;
                font-family: 'PoppinsExtraBold';
                margin-bottom: 16px;
            }
            #content {
                padding: 10px 20px;
                font-size: 12px;
            }
            #question {
                padding-bottom: 16px;
                #title {
                    display: flex;
                    flex-wrap: wrap;
                    column-gap: 16px;
                    row-gap: 8px;
                    align-items: center;
                    h5 {
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 28px;
                        color: var(--primary-shades-50, #475B20);
                        margin-right: 32px;
                    }
                    button {
                        background: #8DB53F;
                        border: none;
                        padding: 4px 8px;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 28px;
                        color: #fff;
                        margin: 0;
                        cursor: pointer;
                        margin-top: -12px;
                        svg {
                            margin-right: 8px;
                        }
                        &.active {
                            background: #475B20;
                        }
                    }
                }
                #body2 {
                    margin-top: 8px;
                    p {
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        color: #333;
                        margin-bottom: 8px;
                    }
                    #contact {
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                        a {
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            text-decoration: none;
                            color: #fff;
                            background-color: #50ABA3;
                            padding: 16px;
                            text-align: center;
                            #title {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                margin-bottom: 8px;
                                display: flex;
                                img {
                                    width: 24px;
                                    height: 24px;
                                    margin-right: -8px;
                                }
                                h2 {
                                    font-family: 'PoppinsExtraBold';
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 800;
                                    line-height: 10px;
                                    margin: 0;
                                }
                            }
                            p {
                                color: #fff;
                                font-size: 12px;
                                text-align: center;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 10px;
                                margin-top: 8px;
                                margin-bottom: 0;
                                padding: 0;
                            }
                        }
                    }
                }
            }
            h3 {
                font-size: 20px;
                font-weight: 800;
                line-height: 40px;
                color: var(--primary-shades-50, #475B20);
                font-family: 'PoppinsExtraBold';
                margin-bottom: 4px;
            }
            ul {
                list-style: none;
                display: flex;
                flex-direction: column;
                padding: 0;
                margin: 0;
                margin-top: 12px;
                li {
                    padding: 10px 20px;
                    border-bottom: #475B20 2px solid;
                    cursor: pointer;
                    background: #fff;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: 24px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    img {
                        margin-left: 8px;
                        width: 24px;
                        height: 24px;
                    }
                    &:last-child {
                        border-bottom: none
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 975px) {
    .faq-title {
        position: relative;
        width: 975px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-top: 147px;
        padding-bottom: 109px;
        h1 {
            font-size: 54px;
            font-style: normal;
            font-weight: 800;
            line-height: 66px;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            color: #FFFFFF;
            font-family: 'PoppinsExtraBold';
        }
    }
    .faq-search-input {
        margin-top: 16px;
        width: 975px;
        height: 88px;
        padding: 20px 24px;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        background: #FFFFFF;
        color: #384819;
        display: flex;
        justify-content: center;
        align-items: center;
        #search-input,#search-input:focus{
            border: none;
            outline: none;
            flex-grow: 1;
            color: #384819;
        }
        #search-input::placeholder {
            color: #384819;
        }
        svg {
            margin-left: 10px;
        }
    }
    .autocomplete-list {
        position: absolute;
        left: 0;
        z-index: 1;
        background: #fff;
        width: 100%;
        border-top: 1px solid #ccc;
        text-align: left;
        list-style: none;
        padding: 0;
        margin: 0;
        max-height: 242px;
        overflow-y: auto;
        li {
            padding: 12px 24px;
            cursor: pointer;
        }
        li:hover {
            background: #f2f2f2;
        }
    }
    .faq-top {
        display: flex;
        #title {
            background-color: #8DB53F;
            width: 200px;
            height: 304px;
            padding: 100px 40px;
            h1 {
                font-size: 40px;
                font-style: normal;
                font-weight: 800;
                line-height: 52px;
                color: #fff;
                font-family: 'PoppinsExtraBold';
            }
        }
        #body::before {
            content: '';
            position: absolute;
            top: 0;
            right: -80px; 
            width: 80px;
            height: 100%;
            background-color: #F4F8EC; 
        }
        #body {
            padding: 80px 0px 80px 80px;
            background-color: #F4F8EC;
            position: relative;
            width: 775px;
            ul {
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: 16px;
                padding: 0;
                margin: 0;
                li {
                    box-shadow: 0px 4px 16px 0px rgba(133, 133, 133, 0.16);
                    padding: 20px;
                    cursor: pointer;
                    background: #fff;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 28px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    img {
                        margin-left: 8px;
                    }
                }
            }
        }
    }
    .faq-topic::before {
        content: '';
        position: absolute;
        top: 0;
        left: -80px; 
        width: 80px;
        height: 100%;
        background-color: #F4F8EC; 
    }
    .faq-topic {
        display: flex;
        position: relative;
        flex-direction: column;
        padding: 0px 80px 80px 0px;
        background-color: #F4F8EC;
        margin-top: 46px;
        #title {
            margin-top: -46px;
            h1 {
                width: 481px;
                font-size: 40px;
                font-style: normal;
                font-weight: 800;
                line-height: 52px;
                padding: 20px 40px;
                background-color: #8DB53F;
                color: #fff;
                font-family: 'PoppinsExtraBold';
                margin: 0;
            }
        }
        #category {
            margin-top: 34px;
            display: flex;
            flex-wrap: wrap;
            div {
                cursor: pointer;
                width: 179px;
                padding: 10px;
                text-align: center;
                img {
                    text-align: center;
                    width: 72px;
                    width: 72px;
                    margin-bottom: 8px;
                }
                h3 {
                    margin: 0;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: 24px;
                    color: #475B20;
                }
                &.active {
                    background-color: #E8F0D9;
                    border-bottom: 6px solid var(--primary-shades-0, #8DB53F);
                }
            }
        }
        #body {
            margin-top: 40px;
            h2 {
                font-size: 32px;
                font-style: normal;
                font-weight: 800;
                line-height: 40px; 
                color: #475B20;
                font-family: 'PoppinsExtraBold';
                margin-bottom: 24px;
            }
            ul {
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: 16px;
                padding: 0;
                margin: 0;
                li {
                    box-shadow: 0px 4px 16px 0px rgba(133, 133, 133, 0.16);
                    padding: 10px 20px;
                    cursor: pointer;
                    background: #fff;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 28px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    img {
                        margin-left: 8px;
                    }
                }
            }
        }
    }
    .faq-question {
        text-align: center;
        h1 {
            font-size: 40px;
            font-style: normal;
            font-weight: 800;
            line-height: 52px;
            color: #285652;
            font-family: 'PoppinsExtraBold';
            margin-bottom: 48px;
        }
        p {
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
            color: #333;
            margin-bottom: 48px;
        }
        #contact {
            display: flex;
            justify-content: space-between;
            a {
                display: flex;
                flex-direction: column;
                width: 475.5px;
                text-decoration: none;
                color: #fff;
                background-color: #50ABA3;
                padding: 24px;
                border-radius: 16px;
                text-align: center;
                #title {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 16px;
                    display: flex;
                    img {
                        width: 48px;
                        height: 48px;
                        margin-right: 8px;
                    }
                    h2 {
                        font-family: 'PoppinsExtraBold';
                        font-size: 32px;
                        font-style: normal;
                        font-weight: 800;
                        line-height: 40px;
                        margin: 0;
                    }
                }
                p {
                    font-size: 20px;
                    color: #fff;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 28px;
                    margin-top: 8px;
                    margin-bottom: 0;
                    padding: 0;
                }
            }
        }
    }
    .faq-breadcrumb {
        font-size: 20px;
    }
    .faq-body {
        margin-top: 32px;
        display: flex;
        #category {
            width: 280;
            h2 {
                padding: 10px 16px;
                background: var(--secondary-shades-0, #50ABA3);
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 28px;
                font-family: 'PoppinsExtraBold';
                color: #fff;
                margin: 0;
            }
            ol {
                padding: 20px;
                margin: 0;
                list-style: none;
                border-radius: 0;
                font-size: 16px;
                font-weight: 800;
                background: var(--secondary-tint-0, #EEF7F6);
                display: flex;
                flex-direction: column;
                gap: 16px;
                li {
                    color: #50ABA3;
                    font-weight: bold;
                    a {
                        color: #50ABA3;
                        text-decoration: none;
                        &:hover {
                            color: #50ABA3;
                            text-decoration: underline;
                        }
                        &.active {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        #body {
            margin-left: 32px;
            width: 663px;
            h1 {
                color: var(--primary-shades-50, #475B20);
                font-size: 40px;
                font-weight: 800;
                line-height: 52px;
                font-family: 'PoppinsExtraBold';
                margin-bottom: 24px;
            }
            #content {
                padding: 10px 20px;
                font-size: 20px;
            }
            #question {
                padding-top: 80px;
                padding-bottom: 80px;
                #title {
                    display: flex;
                    column-gap: 16px;
                    align-items: center;
                    h5 {
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 28px;
                        color: var(--primary-shades-50, #475B20);
                        margin-right: 32px;
                    }
                    button {
                        background: #8DB53F;
                        border: none;
                        padding: 10px;
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 28px;
                        color: #fff;
                        margin: 0;
                        cursor: pointer;
                        margin-top: -12px;
                        svg {
                            margin-right: 8px;
                        }
                        &.active {
                            background: #475B20;
                        }
                    }
                }
                #body2 {
                    margin-top: 16px;
                    p {
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 28px;
                        color: #333;
                        margin-bottom: 8px;
                    }
                    #contact {
                        display: flex;
                        justify-content: space-between;
                        a {
                            display: flex;
                            flex-direction: column;
                            width: 320px;
                            text-decoration: none;
                            color: #fff;
                            background-color: #50ABA3;
                            padding: 16px;
                            text-align: center;
                            #title {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                margin-bottom: 16px;
                                display: flex;
                                img {
                                    width: 48px;
                                    height: 48px;
                                }
                                h2 {
                                    font-family: 'PoppinsExtraBold';
                                    font-size: 20px;
                                    font-style: normal;
                                    font-weight: 800;
                                    line-height: 28px;
                                    margin: 0;
                                }
                            }
                            p {
                                color: #fff;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 28px;
                                margin-bottom: 0;
                                padding: 0;
                            }
                        }
                    }
                }
            }
            h3 {
                font-size: 32px;
                font-weight: 800;
                line-height: 40px;
                color: var(--primary-shades-50, #475B20);
                font-family: 'PoppinsExtraBold';
                margin-bottom: 8px;
            }
            ul {
                list-style: none;
                display: flex;
                flex-direction: column;
                padding: 0;
                margin: 0;
                margin-top: 24px;
                #li {
                    padding: 10px 20px;
                    border-bottom: #475B20 2px solid;
                    cursor: pointer;
                    background: #fff;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 28px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    img {
                        margin-left: 8px;
                    }
                    &:last-child {
                        border-bottom: none
                    }
                }
            }
        }
    }
}