.bg-tuang-story {
    margin-top: -43px;
    border-radius: 48px 48px 0px 0px;
    background-color: #D7232E;
    background-image: url("~/assets/images/bg/tuang1.png"), url("~/assets/images/bg/tuang2.png");
    background-position: top right, bottom left;
    background-repeat: no-repeat;
}
.bg-tuang-distributor {
    background: #F4F4F4;
}
@media only screen and (max-width: 974px) {
    .tuang-head {
        text-align: center;
        padding-top: 28px;
        padding-bottom: 307px;
        p {
            margin-top: 16px;
            font-size: 16px;
            padding-right: 16px;
            padding-left: 16px;
            font-style: normal;
            font-weight: 800;
            color: #EA5547;
        }
    }
    .bg-tuang-story {
        padding-top: 48px;
        padding-bottom: 48px;
    }
    .tuang-story {
        text-align: center;
        h1 {
            font-family: 'PoppinsExtraBold';
            font-size: 20px;
            color: #FFF4EA;
        }
        p {
            margin-top: 12px;
            margin-bottom: 12px;
            font-size: 12px;
            color: #FFF;
        }
        img {
            width: 100%;
        }
    }
    .bg-tuang-desc {
        background-color: #FFFFFF;
    }
    .tuang-desc-title {
        font-family: 'PoppinsExtraBold';
        font-size: 20px;
        font-weight: 800;
        text-align: center;
        color: #CF1823;
        margin-bottom: 41px;
    }
    .tuang-desc-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        #tuang-desc-img {
            width: 100%;
            img {
                width: 229px;
                box-shadow: -120px 0px 0px 17px #D7232E;
            }
        }
        #tuang-desc {
            width: 100%;
            margin-top: 40px;
            h1 {
                font-size: 20px;
                font-family: 'PoppinsExtraBold';
                font-weight: 800;
                margin-bottom: 12px;
            }
            p {
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                margin: 0px;
            }
        }
    }
    .tuang-desc2-flex {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        margin-bottom: 17px;
        margin-top: 49px;
        text-align: right;
        #tuang-desc {
            width: 100%;
            margin-top: 40px;
            text-align: right;
            h1 {
                font-size: 20px;
                font-family: 'PoppinsExtraBold';
                font-weight: 800;
                margin-bottom: 12px;
            }
            p {
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                margin: 0px;
            }
        }
        #tuang-desc-img {
            width: 100%;
            img {
                width: 229px;
                box-shadow: 120px 0px 0px 17px #D7232E;
            }
        }
    }
    .tuang-title {
        text-align: center;
        h1 {
            font-family: 'PoppinsExtraBold';
            font-size: 20px;
            font-style: normal;
            font-weight: 800;
            color: #CF1823;
            margin-bottom: 12px;
        }
        p {
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            margin: 0px;
        }
    }
    .tuang-product {
        margin-top: 36px;
    }
    .tuang-product2 {
        margin-top: 36px;
        margin-bottom: 48px;
    }
    .tuang-btn {
        color: #FFFFFF;
        background: #D7232E;
        border: none;
        padding: 12px 24px;
        font-family: 'PoppinsExtraBold';
        font-size: 14px;
        font-style: normal;
        font-weight: 800;
        cursor: pointer;
        text-align: center;
        display: flex;
        align-items: center;
    }
    .tuang-btn:hover {
        text-decoration: none;
        color: #FFFFFF;
    }
    .tuang-btn-div {
        margin-top: 24px;
        display: flex;
        justify-content: center;
    }
    .tuang-distributor {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        #desc {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            h1 {
                font-family: 'PoppinsExtraBold';
                color: #CF1823;
                font-size: 20px;
                font-style: normal;
                font-weight: 800;
            }
            p {
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                margin-bottom: 24px;
            }
            button {
                img {
                    margin-right: 8px;
                }
            }
        }
        #img {
            width: 100%;
            margin-top: 20px;
            img {
                width: 100%;
            }
        }
    }
}
@media only screen and (min-width: 975px) {
    .tuang-head {
        width: 352px;
        padding-top: 16px;
        padding-bottom: 68px;
        p {
            margin-top: 16px;
            font-size: 20px;
            font-style: normal;
            font-weight: 800;
            color: #EA5547;
        }
    }
    .bg-tuang-story {
        padding-top: 64px;
        padding-bottom: 64px;
    }
    .tuang-story {
        text-align: center;
        h1 {
            font-family: 'PoppinsExtraBold';
            font-size: 40px;
            color: #FFF4EA;
        }
        p {
            margin-top: 48px;
            margin-bottom: 48px;
            font-size: 20px;
            color: #FFF;
        }
        img {
            width: 100%;
        }
    }
    .bg-tuang-desc {
        background-color: #FFFFFF;
        background-image: url("~/assets/images/bg/tuang3.png");
        background-position: top right;
        background-repeat: no-repeat;
    }
    .tuang-desc-title {
        font-family: 'PoppinsExtraBold';
        font-size: 54px;
        font-weight: 800;
        text-align: center;
        color: #CF1823;
        margin-bottom: 80px;
    }
    .tuang-desc-flex {
        display: flex;
        align-items: center;
        margin-top: 34px;
        #tuang-desc-img {
            width: 442px;
            margin-right: 64px;
            img {
                width: 378px;
                box-shadow: -220px 0px 0px 34px #D7232E;
            }
        }
        #tuang-desc {
            width: 533px;
            h1 {
                font-size: 36px;
                font-family: 'PoppinsExtraBold';
                font-weight: 800;
                color: #CF1823;
                margin-bottom: 32px;
            }
            p {
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                margin: 0px;
            }
        }
    }
    .tuang-desc2-flex {
        display: flex;
        align-items: center;
        margin-top: 102px;
        margin-bottom: 34px;
        #tuang-desc {
            width: 533px;
            text-align: right;
            h1 {
                font-size: 36px;
                font-family: 'PoppinsExtraBold';
                font-weight: 800;
                color: #CF1823;
                margin-bottom: 32px;
            }
            p {
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                margin: 0px;
            }
        }
        #tuang-desc-img {
            width: 442px;
            margin-left: 64px;
            img {
                width: 378px;
                box-shadow: 220px 0px 0px 34px #D7232E;
            }
        }
    }
    .tuang-title {
        text-align: center;
        h1 {
            font-family: 'PoppinsExtraBold';
            font-size: 54px;
            font-weight: 800;
            color: #CF1823;
            margin-bottom: 24px;
        }
        p {
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            margin: 0px;
        }
    }
    .tuang-product {
        margin-top: 64px;
    }
    .tuang-product2 {
        margin-top: 64px;
        margin-bottom: 160px;
    }
    .tuang-btn-div {
        margin-top: 26px;
        display: flex;
        justify-content: center;
    }
    .tuang-btn {
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        background: #D7232E;
        border: none;
        padding: 12px 28px;
        font-family: 'PoppinsExtraBold';
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        cursor: pointer;
        text-align: center;
        display: flex;
        align-items: center;
        text-decoration:none;
    }
    .tuang-btn:hover {
        text-decoration: none;
        color: #FFFFFF;
    }
    .tuang-distributor {
        display: flex;
        align-items: center;
        #desc {
            width: 538px;
            h1 {
                font-family: 'PoppinsExtraBold';
                font-size: 40px;
                font-weight: 800;
            }
            p {
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                margin-bottom: 24px;
            }
            button {
                img {
                    margin-right: 10px;
                }
            }
        }
        #img {
            width: 437px;
            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }
}